__pycache__/
*.pyc
.venv/
*.bin
*.elf
*.map
*.a
*.o
*.obj
node_modules/
.env
firmware/build/
firmware/secure_boot_signing_key.pem
firmware/secure_boot_signing_key.pem.signed
firmware-espnow-test/build-*/
firmware-espnow-test/sdkconfig.*/
firmware-ml-demo/build-*/
firmware-ml-demo/sdkconfig
firmware/build-s3/
*.log
